/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list span {

    margin: 0 0 40px 0;
}


.more {
    font-size: 14px;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.details {
    display: none;
    padding: 20px 40px;
    background-color: #000;
    color: white;
}


h2 {
    color: #333;
}

form {
    padding: 10px 20px;
    font-size: 15px;
}

input {
    margin-left: 30px;
    padding: 2px 2px;
}

textarea {
    margin-left: 140px;
    padding: 2px 2px;
}

label.firstname,
label.lastname {
    margin-right: 24px;
}

label.email {
    margin-right: 0px;
}

#contact {
    margin-bottom: 150px;
}

#error {
    color: red;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {

    header,
    footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}